body{
    margin: 15px 10px;
    background-color: #e4e978;
}
article{
    background-color: #f2f4c0;
    margin: 15px 10px;
    padding: 5px 15px;
    border: 1px, solid, #b2ad7d;
}
section article{
    border: 1px, solid, #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
    font-style: italic;
    color: #5c6e91;
    background-color: #f2f4c0;
}